<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Heart Healthy</title>
  <meta name="description" content="Hello World">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
</head>
  <style>
    body{
      padding-top: 40px;
    }    
  </style>

<body>

  <!--Navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="" class="navbar-brand">Heart Healthy</a>
        </div><!--End Navbar Header-->
        <div class="collapse navbar-collapse" id="navbar-collapse">
        <a href="" class="btn btn-info navbar-btn navbar-right">Download ECG+</a>
          <ul class=" nav navbar-nav">
            <li><a href="howItWorks.html" >How it works</a></li>
            <li><a href="login.html" >Login</a></li>
            <li><a href="viewEcg.html" >View ECG</a></li>
            <li><a href="about.html" >About</a></li>
            <li><a href="contact.html" >Contact</a></li>
            <li><a href="#images" >Contact</a></li>
          </ul>
        </div>
      </div><!--End Container-->
    </nav><!--End Navbar-->
    <!--Jumbotron-->
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Heart Healthy</h1>
        <p>Blah Blah Blah !!!</p>
        <div class="btn-group">
          <a href="" class="btn btn-lg btn-info">Download ECG</a>
        </div>
      </div><!--End Container-->
    </div><!--End Jumbotron-->

    <div class="container">
      <section>
        <div class="page-header" ><a href="howItWorks.html"></a>
            <h2><a href="howItWorks.html">How it works. <small> See how the Heart Healthy PI works</small></a></h2>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <blockquote>
              <p>I love html </p>
                <footer>Paul</footer>             
            </blockquote>            
          </div>
          <div class="col-lg-4">
            <blockquote>
              <p>I love html </p>
                <footer>Paul</footer>             
            </blockquote>            
          </div>
          <div class="col-lg-4">
            <blockquote>
              <p>I love html </p>
                <footer>Paul</footer>             
            </blockquote>            
          </div>
        </div><!--End Row-->
      </section><!--End Section-->
    </div><!--End Container-->

<!--Carousel Images-->
    <div class="container">
      <section>
        <div class="page-header" id="images">
          <h2>Gallery<small> Some images</small></h2>
        </div>
        <div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#screenshot-carousel" data-slide-to="1"></li>
            <li data-target="#screenshot-carousel" data-slide-to="2"></li>
            <li data-target="#screenshot-carousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
              <div class="item active">
                  <img src="">
              </div>
              <div class="item">
                  <img src="">
              </div>
              <div class="item">
                  <img src="">
              </div>
              <div class="item">
                  <img src="">
              </div>
          </div>
        </div><!--End Carousel-->

      </section><!--End Section-->
    </div><!--End Container-->

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body> 
</html>