<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
  <style>
    body{
      padding-top: 40px;
    }
  </style>
<body>

      <!--Navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="" class="navbar-brand">Heart Healthy</a>
        </div><!--End Navbar Header-->
        <div class="collapse navbar-collapse" id="navbar-collapse">
        <a href="" class="btn btn-info navbar-btn navbar-right">Download ECG+</a>
          <ul class=" nav navbar-nav">
            <li><a href="howItWorks.html" >How it works</a></li>
            <li><a href="login.html" >Login</a></li>
            <li><a href="viewEcg.html" >View ECG</a></li>
            <li><a href="about.html" >About</a></li>
            <li><a href="contact.html" >Contact</a></li>
          </ul>
        </div>
      </div><!--End Container-->
    </nav><!--End Navbar-->

    <!-- Call To Action-->
    <section>
      <div class="well">
        <div class="container text-center">
          <h3>Login</h3>
          <p>Enter your name and email</p>
          <form action="" class="form-inline">
            <div class="form-group">
              <label for="login">Login</label>
              <input type="text" class="form-control" id="login." placeholder="Your name">
            </div>
            <div class="form-group">
              <label for="login">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
            <hr>
          </form>
        </div><!--End container-->
      </div><!--End Well-->
    </section><!-- End Call To Action-->

    <!-- Latest compiled and minified JavaScript -->
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>